div{
    background-color: whitesmoke;
    height: 100%;    
    justify-content: flex-end;
}

article{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100%;
}
