{% extends 'PrimeraApp/padre.html' %} 

{% block contenidoQueCambia %}

{% load static %}
<html>

   <span>
      <div>
      {% if user.is_authenticated %}
         Hola! {{request.user}} 
      {% else %}
         
            Hola visitante! Te recomendamos loguearte o registrarte para acceder a nuestro contenido gratuito!
         
      {% endif %}
      </div>


  
      
         
         {%for message in messages%}
            {{message}}
         {% endfor %}

         



      <div>
         {% if not user.is_authenticated %}  
      <a href=" {% url 'login' %} "> 
         LOGIN
      </a>

         {% else %}
         <a href=" {% url 'logout' %} "> 
            LOGOUT   
         </a>
         {% endif %}
      </div>
   
   </span>


</nav>

<h1 style="background-color: white;">
Nuestros alumnos ya están viendo los resultados!   
</h1>

<div>
   {%for experiencia in experiencias%}
      <H1 style="background-color: gainsboro; width: 30%;">
      {{experiencia.mensaje}}
      </H1>
   {% endfor %}
</div>


</html>



{% endblock %}

