{% extends 'PrimeraApp/padre.html' %} 

{% block contenidoQueCambia %}

{% load static %}
<html>

<h1>
   Nuestros alumnos ya están viendo los resultados!   
</h1>

<p>
   INGRESAR
</p>
<form action="busqueda/" method="POST">

   {% csrf_token %}
   <p>ingrese nombre</p>
   <input type="text" name= "nombre">
   <input type="password" name="contraseña">

   <input type="submit" value="enviar">

</form>



{% for usuario in usuarios %}


   <p>
      {{usuario.mensaje}}
   </p>


{% endfor %}





   
</html>

{% endblock %}

