{% extends 'PrimeraApp/padre.html' %} 

{% block contenidoQueCambia %}

{% load static %}
<html>

<nav style="background-color: yellow;">
   <span>
      <p id = "log">
      Hola! {{request.user}} 
      </p>

      <p id = "log">
      <a href=" {% url 'logout' %} "> logout</a>
      </p>
   </span>



</nav>
<h2>
   INGRESAR CON NOMBRE  Y CONTRASEÑA
</h2>



<form action="busqueda/" method="POST">

   {% csrf_token %}
   <p>ingrese nombre</p>
   <input type="text" name= "nombre">
   <input type="password" name="contraseña">

   <input type="submit" value="enviar">

</form>

<h1>
Nuestros alumnos ya están viendo los resultados!   
</h1>
{% for usuario in usuarios %}


   <p>
      {{usuario.mensaje}}
   </p>


{% endfor %}





   
</html>

{% endblock %}

