{% extends 'PrimeraApp/padre.html' %} 

{% load static %}


<title>Profile</title>
</head>
{% block contenidoQueCambia %}
<body>
<tr>
    USUARIOS        

    {%for usuario in usuarios%}
    <td>
        <p>{{usuario}}
        <a href="{% url 'update' usuario.id %}">
            Update
        </a>

        <a href=" {% url 'delete' usuario.id %} ">
            Delete
        </a>
            </p>
    </td>
    {% endfor %}
</tr>


    {% if form %}
    <form action="" method="POST">

        {% csrf_token %}
        {{form.as_p}}

    <input type="submit" value="enviar">
    </form>
    {% endif %}
</body>

{% endblock %}
